body{
        background-color: rgb(180, 180, 180);
}

.img1 {
  float: left;
      width: 40%;
    height: 100%;
}

.img2 {
  float: right;
      width: 40%;
    height: 100%;
}

.hola {
  margin: 15px;
  overflow: auto;
  border: 3px solid #000000;

  height: 64vh;
  width: 90%;
  
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(210, 210, 210);
  overflow-y: hidden;

}
.hola h1 {
    font-size: 50px;
    background-color: rgb(0, 0, 0);
    color: white;
    display: inline-block;
    padding: 18px;
    border-radius: 50px;
    margin-left: 10px;
    margin-top: 8px;
    margin-bottom: 0px;
}
.hola p {
    margin-top: 18px;
    margin-left: 1%;

    font-size: 22px;
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;

}

.mercado {
    width: 20%;
    height: 20%;
    margin-left: 20%;
    

}
.btn {
  background-color: rgb(172, 172, 172);
  border: 2px solid black;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 20px;
  margin: 10px;
  transition: 0.3s;
  border-radius: 50px;
    font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;

}

.btn:hover {
  background-color: #828282;
  color: white;
}

.botones {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 10px; 
  width: 50%; 
  margin: auto;

}
.alias {
    margin-left: 22%;
    font-size: 30px;
    margin-top: 2px;
}
.pedro{
      margin: 15px;
  overflow: auto;
  border: 3px solid #000000;

  height: 64vh;
  width: 90%;
  
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(210, 210, 210);
  overflow-y: hidden;

}
.pedro{
    height: 70vh;

}
.pedro h1 {
        font-size: 50px;
    background-color: rgb(0, 0, 0);
    color: white;
    display: inline-block;
    padding: 18px;
    border-radius: 50px;
    margin-left: 10px;
    margin-top: 8px;
    margin-bottom: 0px;
}
.pedro p {
    margin-left: 41%;
    font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
font-size: 22px;
}
.pedro h5 {
    margin-left: 47%;
        font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  margin-top: 2px;
  background-color: rgb(172, 172, 172);
  border: 2px solid black;
  width: 45%;
  text-align: center;
  border-radius: 50px;

}
.formulario {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 10px; 
  margin-left: 50%;
  font-size: 20px;
}

.formulario label {
  font-weight: bold;
}

.formulario input {
  padding: 8px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.formulario button {
  padding: 10px;
  background-color: #3e8e41;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.formulario button:hover {
  background-color: #2f6f33;
}
@media only screen and (max-width: 600px) {
  .img2 , .img1{
    float: none;       
    width: 100%;     
    height: auto;      
    display: block;   
    margin-top: 20px;
    order: 2;
  }
  .hola {
    height: 138vh;
  }
  .hola h1 {
    margin-left: 20%;
  }
  .mercado {
    width: 70%;
    height: 20%;
    margin-left: 15%;
    margin-top: 0px;
    margin-bottom: 0px;

  }
  .hola p {
    margin-bottom: 0px;
  }
  .btn {
  background-color: rgb(172, 172, 172);
  border: 2px solid black;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 20px;
  margin: 10px;
  transition: 0.3s;
  border-radius: 30px;
    font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;

}

.btn:hover {
  background-color: #828282;
  color: white;
}

.botones {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 10px; 
  width: 90%; 
  margin: auto;

}
.pedro h1 {
    margin-left: 24%;
}
.pedro p {
  margin-left: 1%;
}
.pedro {
  height: 135vh;
}
.pedro h5 {
  width: 80%;
  margin-left: 10%;
}
.formulario {
  margin-left: 12%;
}
.formulario input {
  width: 180%;
}
.alias{
  margin-top: 25px;
}

}

@media only screen and (min-width: 600px) and (max-width: 992px) {
    .img2 , .img1{
    float: none;       
    width: 100%;     
    height: auto;      
    display: block;   
    margin-top: 20px;
    order: 2;
  }
  .hola {
    height: 165vh;
  }
  .hola h1 {
    margin-left: 30%;
  }
  .alias{
    margin-left: 30%;
  }
  .mercado {
        width: 70%;
    height: 20%;
    margin-left: 15%;
    margin-top: 0px;
    margin-bottom: 0px;

  }
  .hola p {
    margin-bottom: 0px;
  }
  .btn {
  background-color: rgb(172, 172, 172);
  border: 2px solid black;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 20px;
  margin: 10px;
  transition: 0.3s;
  border-radius: 30px;
    font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;

}

.btn:hover {
  background-color: #828282;
  color: white;
}

.botones {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 10px; 
  width: 90%; 
  margin: auto;

}
.pedro h1 {
    margin-left: 34%;
}
.pedro p {
  margin-left: 1%;
}
.pedro {
  height: 142vh;
}
.pedro h5 {
  width: 80%;
  margin-left: 10%;
}
.formulario {
  margin-left: 12%;
}
.formulario input {
  width: 180%;
}


  
}