

.topnav {
  height: 10vh;


  background-color: #333;
}

.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
    font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 10px;

}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav .icon {
  display: none;
}
.logo{
    height: 80px;
    float: left;
    margin-left: 2%;
    margin-top: 4px;
}
body{
  margin: 0%;
}
@media screen and (max-width: 600px) {

  .topnav {
    height: auto;
    position: relative;
    padding-top: 70px;   
  }


  .topnav a {
    display: none;
    float: none;
  }

  .topnav .icon {
    display: block;
    position: absolute;  
    right: 15px;
    top: 0px;            
    font-size: 30px;
    z-index: 1000;
    padding: 5px;
  }

  .logo {
    position: absolute;
    top: 10px;
    left: 15px;
    height: 50px;
    margin: 0;
    float: none;
    z-index: 1000;
  }


  .topnav.responsive {
    padding-top: 70px;   
  }

.topnav.responsive a:not(.icon) {
  display: block;
  width: 100%;
  text-align: left;
  background-color: #333;
  border-top: 1px solid #555;
  padding: 12px 16px;
  position: relative;
  z-index: 1;
}


  .topnav.responsive a:first-of-type {
    margin-top: 10px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 992px) {

  .topnav {
    height: auto;
    position: relative;
    padding-top: 70px;   
  }

  .topnav a {
    display: none;
    float: none;
  }

  .topnav .icon {
    display: block;
    position: absolute;  
    right: 15px;
    top: 0px;            
    font-size: 40px;
    z-index: 1000;
    padding: 0px;
  }

  .logo {
    position: absolute;
    top: 10px;
    left: 15px;
    height: 50px;
    margin: 0;
    float: none;
    z-index: 1000;
  }

  .topnav.responsive {
    padding-top: 70px;   
  }

  .topnav.responsive a:not(.icon) {
    display: block;
    width: 100%;
    text-align: left;
    background-color: #333;
    border-top: 1px solid #555;
    padding: 12px 16px;
    position: relative;
    z-index: 1;
  }

  .topnav.responsive a:first-of-type {
    margin-top: 10px;
  }
}