body{
        background-color: rgb(180, 180, 180);
}

.entrada{
    text-align: center;
 
  ;

}
.entrada picture {
    position: relative;

}
.entrada picture img{

    width: 100%;
    height: 550px;
    background-size: cover;
}
.adentro{
    position: absolute;
    top: 50%;
    left: 8%;
    color: rgb(255, 255, 255);
    font-size: 60PX;
    background-color: rgba(125, 125, 125, 0.445);
    padding: 10PX;
    border-radius: 50px;

}
.historia{
    width: 70%;
    margin: 0 auto;
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding: 10px;
    margin-top: 15px;

}
.historia p {
    font-size: 25px;
    font-family: "Vend Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}




.va {
    margin-top: 40px;
    display: flex;
    flex-direction: column; 
    gap: 20px; 
    width: 70%;
    margin-left: auto;
    margin-right: auto;

}
.va h2 {
    font-size: 40px;
    margin: 0px;
}
.va p {
    font-size: 20px;
  font-family: "Vend Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}



.va div {
    background: lightgray;
    padding: 20px;
    border-radius: 10px;
    width: 60%; 
}


.va div:nth-child(odd) {  
    align-self: flex-start; 
}

.va div:nth-child(even) {  
    align-self: flex-end;    
}
.counter-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 40px ;
    background-color: rgba(122, 122, 122, 0.468);
}

.number {
    font-size: 40px;
    font-weight: bold;
}
.counter{
    text-align: center;
    border: 5px solid black;
    padding: 20px;
    font-size: 20px;
}
.label{
    font-size: 20px
}
.tarjeta {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 30px 60px rgba(0,0,0,0.18);
}
.veo{
  
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-self: center;
  flex-wrap: nowrap;
  width: 98%;
  margin-left: auto;
  margin-right: auto;



}
.hola{
  padding: 10px;
  background-color: rgba(159, 159, 159, 0.527);
  border: 2px solid black;
  margin-top: 20px;

  width: 30%;
  height: 50vh;
  margin-bottom: 15px;
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  
  
}
.foto{
  height: 60%;
  width: 100%;
  background-size: cover;
}
.letra_3{
  font-size: 30px;

  margin: 0;
}
.texto{
  font-size: 20px;
}
.historia_1 {
  width: 95%;
  margin-left: auto;
  margin-right: auto;

  margin-top: 20px;
  border: 2px solid black;

  text-align: center;

}

@media only screen and (min-width: 600px) and (max-width: 992px) {
    .veo {
        width: 96.5%;

    }
    .hola {
        height: 55vh;
    }
    .foto {
        height: 45%;
    }
    .topnav.responsive + .entrada .adentro {
    top: 105%;
    }
  }
@media only screen and (max-width: 600px) {

    .veo{
        display: block;

    }
    .hola{
        height: 40vh;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .foto {
        height: 45%;
    }
    .topnav.responsive + .entrada .adentro {
      top: 95%;
    }
    .entrada picture img {
        height: 400px;
    }
    .adentro{
        top: 40%;
    }
    .counter-container {

        justify-content: center;

        padding: 10px;

    }
    .label{
        font-size: 15px
    }
    .counter{

        padding: 10px;
  
    }





 
}

